@import url("./header.css");
@import url("./banner.css");
@import url("./carrossel.css");
@import url("./topicos.css");
@import url("./contato.css");
@import url("./rodape.css");

:root {
	--cor-de-fundo: #EBECEE;
	--fonte-principal: 'Poppins', sans-serif;

	--branco: #FFFFFF;
	--laranja: #EB9B00;
	--azul-degrade: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
	--azul-escuro: #002F52;
}

body {
	background-color: #eceeeb;
	font-family: var(--fonte-principal);
	font-size: 1rem;
	font-weight: 400;
}